In [18]:
# dalam phyton, Dictionary  disebut juga sebagai "mapping", identik dengan array asos
# indeks type string 
# type data : 1) key; 2) value 
# Bentuk umum : variabel = (key1:value, key2:value)

# contoh 
dic = ('') # jangan lupa tand apetik ('')
dic = {'mahasiswa':'Yori','prodi':'mekatronika'}
print("dic['mahasiswa']:",dic['mahasiswa'])
print("dic['prodi']:",dic['prodi'])

dic['mahasiswa']: Yori
dic['prodi']: mekatronika

In [3]:
dic = {'nama':'yori','tglahir':'13-01-2005','tempatlahir':'bekasi','alamat':'cikarang','hobby':'olahraga'}
print("nama:", dic['nama'])
print("tglahir:", dic['tglahir'])
print("tempatlahir:", dic['tempatlahir'])
print("alamat:", dic['alamat'])
print("hobby:", dic['hobby'])

nama: yori
tglahir: 13-01-2005
tempatlahir: bekasi
alamat: cikarang
hobby: olahraga

In [5]:
# variabel dictionary 
dic = {'satu':5,'dua':10,'tiga':100}
print("satu:",dic['satu'])
print("dua:",dic['dua'])
print("hasil:", dic['satu']/dic['dua'])

satu: 5
dua: 10
hasil: 0.5

In [7]:
dic = {'nama':'yori','tglahir':'13-01-2005','tempatlahir':'bekasi','alamat':'cikarang','hobby':'olahraga'}
print("nama:", dic['nama'])
print("tglahir:", dic['tglahir'])
print("tempatlahir:", dic['tempatlahir'])
print("alamat:", dic['alamat'])
print("hobby:", dic['hobby'])

nama: yori
tglahir: 13-01-2005
tempatlahir: bekasi
alamat: cikarang
hobby: olahraga

In [35]:
dic = {'Nama':'YORI', 'Mata Kuliah':'AUTOCEDO', 'Nilai UTS':'100', 'Nilai UAS':'100', 'Nilai UTS + Nilai UAS':'200'}

print("dic['Nama']:", dic['Nama'])
print("dic['Mata Kuliah']:", dic['Mata Kuliah'])
print("dic['Nilai UTS':", dic['Nilai UTS'])
print("dic['Nilai UAS':", dic['Nilai UAS'])

dic = {'Nilai UTS':100, 'Nilai UAS':100}
print("Nilai UTS + Nilai UAS:", (dic['Nilai UTS'] + dic['Nilai UAS']))

dic ={'Nama':'YORI', 'Mata Kuliah':'AUTOCEDO', 'Nilai UTS':100, 'Nilai UAS':100}
dic['Hasil'] = 'Lulus'
print(dic)

dic ={'Nama': 'YORI', 'Mata Kuliah': 'AUTOCEDO', 'Nilai UTS': 100, 'Nilai UAS': 100, 'Hasil': 'Lulus'}
dic['Nilai UTS'] = 38
dic['Nilai UAS'] = 46
dic['Hasil'] = 'Tidak Lulus'
print(dic)

dic ={'Nama': 'YORI', 'Mata Kuliah': 'AUTOCEDO', 'Nilai UTS': 38, 'Nilai UAS': 46, 'Hasil': 'Tidak Lulus'}
del dic['Hasil']
print(dic)

dic['Nama']: YORI
dic['Mata Kuliah']: AUTOCEDO
dic['Nilai UTS': 100
dic['Nilai UAS': 100
Nilai UTS + Nilai UAS: 200
{'Nama': 'YORI', 'Mata Kuliah': 'AUTOCEDO', 'Nilai UTS': 100, 'Nilai UAS': 100, 'Hasil': 'Lulus'}
{'Nama': 'YORI', 'Mata Kuliah': 'AUTOCEDO', 'Nilai UTS': 38, 'Nilai UAS': 46, 'Hasil': 'Tidak Lulus'}
{'Nama': 'YORI', 'Mata Kuliah': 'AUTOCEDO', 'Nilai UTS': 38, 'Nilai UAS': 46}