# Tuple

In [20]:
# mengubah
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (type(negara))
print (negara)

negara [1] = 'Nepal'

<class 'tuple'>
('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

TypeError: 'tuple' object does not support item assignment

In [24]:
# menambah
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (negara)

negara.append(panama)

('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
# menambah
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (negara)

negara.extend(paris)

('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

AttributeError: 'tuple' object has no attribute 'extend'

In [28]:
# menghapus
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (negara)

negara.remove(paris)

('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

AttributeError: 'tuple' object has no attribute 'remove'

In [30]:
# index
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (negara)

negara.index(paris)

('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

NameError: name 'paris' is not defined

In [32]:
# insert
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (negara)

negara.insert(paris)

('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

AttributeError: 'tuple' object has no attribute 'insert'

In [42]:
# insert
negara = 'Zimbabwe','Jepang','Swiss','Australia','Canada'
print (negara)

del((jepang))

('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')

NameError: name 'jepang' is not defined

In [44]:
hari = ('Zimbabwe','Jepang','Swiss','Australia','Canada')
print('data tuple')
print(hari)

print('jepang pada item tuple')
print('jepang' in negara)
print('lebanon pada item tuple')
print('lebanon' in negara)

data tuple
('Zimbabwe', 'Jepang', 'Swiss', 'Australia', 'Canada')
jepang pada item tuple
False
lebanon pada item tuple
False